/*-- scss:defaults --*/

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

// fonts
$font-family-sans-serif : "Inter";

// main colors
$body-bg: #fff !default;
$body-bg-orange: #ff7400 !default;
$body-color: #222 !default;


/*-- scss:mixins --*/


// --------------------- //
@mixin bodyBackground() {
  background-image: url("https://raw.githubusercontent.com/rfortherestofus/rfortherestofus/main/inst/assets/rru-hex-bg-gradient-light.svg");
  background-size: cover;
  background-color: $body-bg;
}

/*-- scss:rules --*/

// title slide
h1.title {
  color: #fff;
}

// inverse slides
.inverse {
  color: $body-bg;

  .slide-background-content {
    background-color: $body-color ;
    background-image: url("https://raw.githubusercontent.com/rfortherestofus/rfortherestofus/main/inst/assets/rru-hex-bg-gradient-dark.svg") ;
  }
}

// my turn slides
.my-turn {
  color: $body-bg;

  .slide-background-content {
    background-color: $body-bg-orange ;
    background-image: url("https://raw.githubusercontent.com/rfortherestofus/rfortherestofus/main/inst/assets/rru-hex-bg-gradient-white-hex.svg") ;
  }
}